@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* @font-face {
        font-family: Proxima Nova;
        font-weight: 400;
        src: url(/fonts/proxima-nova/400-regular.woff) format("woff");
    } */

    h1 {
        @apply text-2xl;
    }

    h2 {
        @apply text-xl;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    p{
        @apply text-base;
    }

    span{
        @apply italic;
    }
  }


body{
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    @apply overflow-hidden;
}